body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f9fa;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/*
 *  Header & Navigation
 */

.header {
    border-top: 6px solid #6c7071;
    background-color: #2d3d5e; /* fallback if gradients not supported */
    background-image: -webkit-linear-gradient(top, #395584, #2d3d5e); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
    background-image:    -moz-linear-gradient(top, #395584, #2d3d5e); /* For Firefox (3.6 to 15) */
    background-image:      -o-linear-gradient(top, #395584, #2d3d5e); /* For old Opera (11.1 to 12.0) */     
    background:               linear-gradient(top, #395584, #2d3d5e);
}

.header__btmBorder--red {
    height: 10px;
    width: 100%;
    background-color: #d72d1c;
    border-top: 1px solid #ed6965;
    border-bottom: none;
    margin-top: -1px;
}

.header__logo {
    width: 206px;
    margin: 26px 0;
}

.navbar__list {
    margin: 0 0 0 -14px; /* negative left margin aligns first link with rest of page */
    padding-left: 0;
}

.navbar__link {
    display: inline-block;
    padding: 6px 8px;
    margin: 0 0;
}

.navbar__link--active {
    background-color: #d72d1c;
    border: 1px solid #ed6965;
    border-bottom: none;
}

.navbar__link a {
    text-decoration: none;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
}

/*
 *  Sidebar (Aside)
 */

.sidebar {
    color: #555;
}

.sidebar__section {
    margin: 40px 0 30px 0;
}

.sidebar__nav h2{
    text-align: center;
}

.sidebar__section h2{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.sidebar__articleDate {
    margin-bottom: 5px;;
    font-weight: 300;
    font-size: 12px;
}

.sidebar__articleTitle {
    margin: 0;
}

.sidebar__articleLink {
    margin: 10px 0;
}

.sidebar a {
    text-decoration: none;
    color: #005c99;
}

.sidebar__articleLink a {
    font-size: 12px;
}

.sidebar hr {
    border: 1px solid #ddd;
}

.sidebar__tagList {
    list-style: none;
    padding-left: 0;
}


/*
 *  Article
 */

.article {
    color: #333;
    font-weight: 300;
}

.article__imageBorder {
    border: 1px solid #eaeaea;
    margin-top: 15px;
    padding: 8px;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.4);
       -moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.4);
            box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.4);
}

.article__image {
     width: 100%;
     display: block;
}

.article__header {
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    /*font-size: 46px;*/
    font-size: 22px;
    margin: 26px 0;
}

.article__subheader {
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
}

.article p {
    margin-bottom: 26px;
    font-size: 16px;
}

.article__widgetBox {
    background-color: #eaeaea;
    border: solid 1px #ccc;
    padding: 26px 20px;
}


/*
 *  Footer
 */

.footer {
    padding: 26px 0 42px 0;
    background-color: #464646; /* fallback if gradients not supported */
    background-image: -webkit-linear-gradient(top, #464646, #525252); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
    background-image:    -moz-linear-gradient(top, #464646, #525252); /* For Firefox (3.6 to 15) */
    background-image:      -o-linear-gradient(top, #464646, #525252); /* For old Opera (11.1 to 12.0) */     
    background:               linear-gradient(top, #464646, #525252);
}

.footer p {
    font-weight: 300;
    font-size: 14px;
    color: #ccc;
}

.footer__logo {
    width: 160px;
}


/*
 *  Main - including Layout Grid
 */

.main__container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.main__col {
    margin: 1% 0 1% 0;
    display: block;
    float: left;
}

.main__col--onefifth, .main__col--fourfifths {
    width: 100%;
}

.main__spacer {     /* clears floats from content grid and provides whitespace before footer */
    width: 100%;
    height: 300px;
    clear: both;
    order: 3;
}





@media (min-width: 600px) {
    .main__col {
        margin: 1% 0 1% 1.6%;
        overflow: hidden;
    }

    .main__col--onefifth {
        width: 18.72%;
        -webkit-order: 1;
        order: 1;
        margin-left: 0;
    }

    .main__col--fourfifths {
        width: 79.68%;
        -webkit-order: 2;
        order: 2;   
    }

    .navbar__list {
        margin: 0 0 0 -26px; 
    }

    .navbar__link {
        padding: 8px 16px;
        margin: 0 10px;
    }

     .article__header {
        font-size: 30px;
    }   

    .sidebar__nav h2{
        text-align: left;
    }

    .sidebar__section h2 {
        font-size: 18px;
    }
}

@media (min-width: 800px) {
    .container {
        width: 80%;
    }

    .navbar__link {
        padding: 8px 14px;
    }

    .navbar__link a {
        font-size: 13px;
    }

    .article__header {
        font-size: 46px;
    }

    .article p {
        font-size: 22px;
    }

}

@media (min-width: 1000px) {
    .container {
        max-width: 1200px;
    }

    .sidebar__section h2 {
        font-size: 24px;
    }    
}