body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/*
 *  Header
 */

.header {
    background: linear-gradient(#395584, #2d3d5e);
    border-top: 6px solid #6c7071;
}

hr {
    height: 10px;
    width: 100%;
    background-color: #d72d1c;
    border-top: 1px solid #ed6965;
    border-bottom: none;
    margin-top: -1px;
}

.header__logo {
    width: 206px;
    margin: 26px 0;
}

.navbar__list {
    margin: 0 0 0 -26px; /* negative left margin aligns first link with rest of page */
    padding-left: 0;
}

.navbar__link {
    display: inline-block;
    padding: 8px 16px;
    margin: 0 10px;
}

.navbar__link--active {
    background-color: #d72d1c;
    border: 1px solid #ed6965;
    border-bottom: none;
}

.navbar__link a {
    text-decoration: none;
    font-weight: 300;
    font-size: 13px;
    color: white;
}

/*
 *  Footer
 */

.footer {
    background: linear-gradient(#464646, #525252);
    clear: both;
    padding: 26px 0 42px 0;
}

.footer p {
    font-weight: 300;
    font-size: 14px;
    color: #ccc;
}

.footer__logo {
    width: 160px;
}

/*
 *  Custom Grid
 */

.main__col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}

.main__col:first-child {
    margin-left: 0;
}

.main__col--onefifth {
    width: 18.72%;
}

.main__col--fourfifths {
    width: 79.68%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.main__col {  margin: 1% 0 1% 0%; }
	.main__col--onefifth, .main__col--fourfifths { width: 100%; }
}

/*
 *  Sidebar
 */

 .sidebar__headers h2, h3{
     font-family: 'Source Sans Pro', sans-serif;
 }

/*
 *  Article
 */

.article__imageBorder {
    border: solid lightslategray 1px;
    padding: 4px;
}

.article__image {
     width: 100%;
}

.article__header {
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 46px;
    color: #333;
}

.article__widgetBox {
    background-color: #ddd;
    border: solid 1px #aaa;
    padding: 20px 10px;
}