body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/*
 *  Header
 */

.header {
    background: linear-gradient(#395584, #2d3d5e);
    border-top: 6px solid #6c7071;
}

.header__btmBorder--red {
    height: 10px;
    width: 100%;
    background-color: #d72d1c;
    border-top: 1px solid #ed6965;
    border-bottom: none;
    margin-top: -1px;
}

.header__logo {
    width: 206px;
    margin: 26px 0;
}

.navbar__list {
    margin: 0 0 0 -26px; /* negative left margin aligns first link with rest of page */
    padding-left: 0;
}

.navbar__link {
    display: inline-block;
    padding: 8px 16px;
    margin: 0 10px;
}

.navbar__link--active {
    background-color: #d72d1c;
    border: 1px solid #ed6965;
    border-bottom: none;
}

.navbar__link a {
    text-decoration: none;
    font-weight: 300;
    font-size: 13px;
    color: white;
}

/*
 *  Footer
 */

.footer {
    background: linear-gradient(#464646, #525252);
    padding: 26px 0 42px 0;
}

.footer p {
    font-weight: 300;
    font-size: 14px;
    color: #ccc;
}

.footer__logo {
    width: 160px;
}

/*
 *  Custom Grid
 */

.main__col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}

.main__col:first-child {
    margin-left: 0;
}

.main__col--onefifth {
    width: 18.72%;
}

.main__col--fourfifths {
    width: 79.68%;
}

.main__spacer {
    /* clears floats from content grid and provides whitespace before footer */
    height: 300px;
    clear: both;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.main__col {  margin: 1% 0 1% 0%; }
	.main__col--onefifth, .main__col--fourfifths { width: 100%; }
}

/*
 *  Sidebar
 */

.sidebar {
    color: #555;
}

.sidebar__section {
    margin: 40px 0 30px 0;
}

.sidebar__section h2, h3{
    margin: 0;
}

.sidebar__section h2, h3{
     font-family: 'Source Sans Pro', sans-serif;

}

.sidebar__articleDate {
    margin-bottom: 5px;;
    font-weight: 300;
    font-size: 12px;
}

.sidebar__articleTitle {
    margin: 0;
}

.sidebar__articleLink {
    margin: 10px 0;
}

.sidebar__articleLink a {
    text-decoration: none;
    color: #005c99;
    font-size: 12px;
}

.sidebar hr {
    border: 1px solid #ddd;
}

/*
 *  Article
 */

.article {
    color: #333;
    font-weight: 300;
}

.article__imageBorder {
    border: 1px solid #eaeaea;
    padding: 8px;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.4);
       -moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.4);
            box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.4);
}

.article__image {
     width: 100%;
     display: block;
}

.article__header {
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 46px;
    margin: 26px 0;
}

.article__subheader {
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
}

.article p {
    margin-bottom: 26px;
}

.article__widgetBox {
    background-color: #eee;
    border: solid 1px #ccc;
    padding: 26px 20px;
}